/* .list {
	display: flex;
	gap: 2em;
}

@madia (hover: hover) {
	.list a:hover {
		color: var(--accent);
	}
}

@madia (hover: none) {
	.list a {
		-webkit-tap-highlight-color: transparent;
	}

	.list a:active {
		color: var(--accent);
	}
} */
